<div id="nav_header">
  <%= link_to "Sign in", new_user_session_path %><br />
  <%= link_to "Sign up", new_user_registration_path %><br />
  <%= link_to "Log out", destroy_user_session_path, :method => :delete %><br />
</div>

<!-- vim: set ts=2 sw=2: -->
